@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss typography;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.category {
  background-color : #12121B;
  opacity : 95%;
}

.content {
  background-image : url("../public/mainImage.png")
}

.category-menu{
  color : #69666D;
}
