@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss typography;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.category {
  background-color : #12121B;
  opacity : 95%;
}

.content {
  background-image : url("../public/mainImage.png");
  background-size : 1980px 1200px;
  width:100%;
  padding-top: 100px;
}

.category-menu{
  color : #69666D;
}
